[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
opencv-python = "*"
tesseract = "*"
flask = "*"
pymongo[tls,srv]==3.6.1
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
