[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
opencv-python = "*"
tesseract = "*"
flask = "*"
dnspython = "*"
pdf2image = "*"
pypdf2 = "*"
fpdf = "*"
python-docx = "*"
pandas = "*"
nltk = "*"
openpyxl = "*"

[requires]
python_version = "3.9"
